* {
  box-sizing: border-box;
}

html {
    font-size: 10px;
}

.html {
    background: url(./images/drumkit.jpg) bottom center;
    background-size: cover;
    transition: all 2s ease;
}

.html2 {
    background: url(./images/drumkit2.jpg) bottom center;
    background-size: cover;
    transition: all 2s ease;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

.keys {
    display: flex;
    flex: 1;
    height: 55vh;
    align-items: flex-end;
    justify-content: center;
}

.key {
    border: .4rem solid rgb(255, 255, 255);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: rgb(209, 206, 178);
    background: rgba(0, 0, 0, 0.616);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
  }

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  .footerContainer {
    display: flex;
    flex: 1;
    height: 20vh;
    align-items: flex-end;
    justify-content: center;
  }

  .footer {
    border: .4rem solid rgb(66, 66, 66);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem .5rem;
    transition: all .15s ease;
    height: 60px;
    width: 10rem;
    text-align: center;
    color: rgb(209, 206, 178);
    background: rgba(0, 0, 0, 0.616);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
    outline: none;
  }


  button {
    cursor: pointer;
    outline: none;
  }

  a {
    text-decoration: none;
  }